.pytest_cache
.venv
.idea/
.coverage*
htmlcov
coverage.xml
.mypy_cache
__pycache__
.cache
/dist/
/build/
*.spec
/.pytest_cache/
.hypothesis/
*.egg-info/
pyproject.toml.example
.eggs
packages_elib_config.png
classes_elib_config.png
